
/*Writeup cards*/

#parent_grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    /*max-width: 500px;*/
    padding: 10px;
    text-align: center;
    margin: 9px;
	font-family: 'Architects Daughter', cursive;
    z-index: 0;	
    width: 429px;
    
}
.card-author {
	font-family: 'Architects Daughter', cursive;	

}

.card-title > h1 {
	font-family: 'Architects Daughter', cursive;
	
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(134, 134, 134, 0.7);
}
/*Background color for the active button.*/
#CTF {
    background-color:  rgb(18, 33, 49);
}



